# Telegram Bot Token (server/bot uchun)
VITE_TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
VITE_TELEGRAM_ADMIN_CHAT_IDS=YOUR_TELEGRAM_ADMIN_CHAT_IDS

# ===========================================
# App Config
# ===========================================
VITE_APP_VERSION=0.0.0
VITE_ENABLE_TELEMETRY=true
